/**
 * @name Big chuncky boy
 * @version 8.0
 * @description A simple but highly customizable theme, now sugar free!
 * @author Spectra
 * @invite PZdnCVD
 * @source https://github.com/xcruxiex/themes
 * @website https://betterdiscord.app/theme/Neutron
 * @BDEditor Neutron
*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@100;300;400;500;700&display=swap');
@import url('https://xcruxiex.github.io/themes/themes-cores/neutron8.css');

:root {
  --backgroundImage: url('https://i.imgur.com/PcDdGTx.jpg');
  --backgroundColor: #000000;
  --backgroundSize: 80%;
  --backgroundPosition: center left;
  --backgroundRepeat: repeat;
  --backgroundBlur: 19px;
  --backgroundOpacity: 0.35;
  --homeImage: url('https://i.imgur.com/5FKEhH7.png');
  --homeImageSize: cover;
  --themeColor1: #00EEFF;
  --themeColor2: #E91E63;
  --customFont: Quicksand;
  --backgroundCode: rgb(0,0,0,0.23);
  --backgroundName: rgb(0,226,255,0.35);
}

/* Any custom CSS below here */


